extends ../templates/layout


block main
    div(style="min-height: 90vh")
        div(style="padding-top: 100px")
        h1(style="font-family: 'Ubuntu', sans-serif; color: #565656; text-align: center;") Something went wrong!
        br
        h4(style="font-family: 'Ubuntu', sans-serif; color: #565656; text-align: center;") Error: #{code}

